@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto+Condensed&display=swap');

html, body {
	margin: 0;
}

main.wrapper {
	min-height: 70vh;
	padding-top: 30px;
	padding-bottom: 30px;
}

.cover-container {
	max-width: 46em;
	padding: 10em 5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cover-container .cover-txt__title {
	font-size: 4em;
	margin-bottom: 20px;
	font-family: 'Bebas Neue', cursive;
}

.c_dropdown {
	position: relative;
}

.c_dropdown:hover .c_dropdown-menu {
	opacity: 1;
	visibility: visible;
}

.c_dropdown-menu {
	opacity: 0;
	visibility: hidden;
	top: 40px;
	left: 0;
	position: absolute;
	min-width: 10em;
	border-radius: 3px;
	padding: 8px 15px;	
	background-color: #fff;
	border: 1px solid #f6f6f6;
	box-shadow: 1px 1px 2px 1px #ddd;
	transition: opacity .3s ease-in-out;
	flex-direction: column;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.c_dropdown-menu .c_dropdown_item {
	width: 100%;	
}

footer {
	margin-top: 20px;
}